* {
    width:auto;
    height:auto;
    margin:0px;
    padding:0px;
    font-family:"Times New Roman", arial, sans-serif;
    background-color:rgb(237, 36, 36);
    box-sizing:border-box;

}
.inline {
    display:inline;
}
.inline-block {
    display:inline-block;
}


nav {
    height:70px;
    width:700px;
    padding:10px;
    margin:5px;
}

nav h1,
nav p {
    display:inline-block;
}
nav h1{
    margin:5px 0px 0px 20px;
}
nav p#one {
    margin-left:350px;
}
nav p#two,
nav p#three {
    margin-left:10px;
}

img.one {
    width: 700px;
    height: 300px;
}

div form,
div form input {
    background-color:white;
}
div form {
    text-align:center;
    margin:15px auto auto auto;
    padding:0px;
    height:auto;
    width:250px;
    border:10px;
}
div.form {
    height:auto;
    width:700px;
}
div#one {
    heigth:500px;
    width:700px;
}

div#one div.content {
    margin:auto;
}